{% extends 'blog/base.html' %}

{% block content %}
<dev class="container">
    
    {% if len > 0 %}

    <div class="table">
        {% for post in posts %}

        <div class="card ms-5 w-50">
            <div class="card-body">
                <dev class="row">
                    <dev class="col">
                        <h4 class="card-title">{{ post.title }}</h4>
                    </dev>

                </dev>
                <p class="card-text">{{ post.text|truncatechars:60 }}</p>
                <!-- <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a> -->
            </div>
        </div>

     
        {% endfor %}
    </div>

    {% else %}
    <h4>Seems like you don't have any posts!</h4>
    <h4>Create One!</h4>
    <p></p>
    <a href="{% url 'blog:create_post' %}"><button class="btn btn-primary">New Post</button></a>
    
    {% endif %}
</dev>
{% endblock %}